.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.sel-container {
  font-size: 13px;
  font-weight: normal;
  color: #444444;
  font-family: arial;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.sel-container a {
  outline: none;
}
.sel-container .sel-drop {
  display: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  margin-top: -1px;
  z-index: 1010;
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0 none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15) \9;
}
.sel-container .sel-drop.dropdown-active {
  display: block;
  padding-right: 1px;
}
.sel-container .sel-search {
  display: none;
}
.sel-container.sel-container-active .sel-drop {
  display: block;
}
.sel-container.sel-container-active .sel-search {
  display: block;
}
.sel-container-single .sel-single {
  background-color: #ffffff;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 28px;
  line-height: 27px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}
.sel-container-single .sel-single:hover {
  color: #444444;
  text-decoration: none;
}
.sel-container-single .sel-single span {
  margin-right: 18px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sel-container-single .sel-single:after {
  background: url("selected-sprite.png") no-repeat scroll -4px -10px transparent;
  content: "";
  display: inline-block;
  height: 6px;
  margin-top: -1px;
  position: absolute;
  right: 3px;
  top: 50%;
  width: 10px;
}
.sel-container-single .sel-default {
  color: #999;
}
.sel-container-single .sel-search {
  position: relative;
  padding: 3px 4px;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
.sel-container-single .sel-search input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #ffffff url('selected-sprite.png') no-repeat 100% -22px;
  background: url('selected-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('selected-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('selected-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('selected-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('selected-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: url('selected-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
}
.sel-container-single .sel-drop {
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sel-container-multi .sel-choices {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  position: relative;
  border-radius: 2px;
}
.sel-container-multi .sel-choices li {
  float: left;
  list-style: none;
}
.sel-container-multi .sel-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.sel-container-multi .sel-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  padding: 5px;
  outline: 0;
  box-shadow: none;
  min-width: 20px;
  width: 20px;
}
.sel-container-multi .sel-choices .search-field input.default {
  width: 95%;
  color: #999;
}
.sel-container-multi .sel-choices .search-choice {
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 16px;
  padding: 3px 20px 4px 5px;
  margin: 2px 0 2px 2px;
  position: relative;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #ffffff ,endColorstr= #d2e8fb ,GradientType=0);
  background: -webkit-linear-gradient(top, #ffffff, #d2e8fb);
  background: -moz-linear-gradient(top, #ffffff, #d2e8fb);
  background: -ms-linear-gradient(top, #ffffff, #d2e8fb);
  background: -o-linear-gradient(top, #ffffff, #d2e8fb);
}
.sel-container-multi .sel-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 6px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: url('selected-sprite.png') right top no-repeat;
}
.sel-container-multi .sel-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}
.sel-container-multi .sel-choices .search-choice-focus {
  background: #d4d4d4;
}
.sel-container-multi .sel-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}
.sel-container .sel-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.sel-container .sel-results li {
  cursor: pointer;
  display: list-item;
  min-height: 15px;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
  color: #000;
  text-shadow: none;
}
.sel-container .sel-results li.disabled {
  display: none;
}
.sel-container .sel-results li.selected {
  color: #000;
  background-color: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #e9e9e9 ,endColorstr= #dddddd ,GradientType=0);
  background-image: -webkit-linear-gradient(top, #e9e9e9, #dddddd);
  background-image: -moz-linear-gradient(top, #e9e9e9, #dddddd);
  background-image: -ms-linear-gradient(top, #e9e9e9, #dddddd);
  background-image: -o-linear-gradient(top, #e9e9e9, #dddddd);
}
.sel-container .sel-results li.highlighted {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67A7DA', endColorstr='#2B70A8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #67a7da 20% ,endColorstr= #2b70a8 90% ,GradientType=0);
  background-image: -webkit-linear-gradient(top, #67a7da 20%, #2b70a8 90%);
  background-image: -moz-linear-gradient(top, #67a7da 20%, #2b70a8 90%);
  background-image: -ms-linear-gradient(top, #67a7da 20%, #2b70a8 90%);
  background-image: -o-linear-gradient(top, #67a7da 20%, #2b70a8 90%);
}
.sel-container .sel-results li.highlighted.native {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #3875d7 20% ,endColorstr= #2a62bc 90% ,GradientType=0);
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
}
.sel-container-multi .sel-results {
  margin: -1px 0 0;
  padding: 0;
}
.sel-container .sel-results li mark {
  background: #feffde;
}
.sel-container .sel-results .highlighted mark {
  background: transparent;
  color: #FFF;
}
.sel-container .no-results {
  background: #f4f4f4;
  margin: 0 4px 4px;
  padding: 5px;
}
.sel-container .sel-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}
.sel-container .sel-results .group-option {
  padding-left: 15px;
}
.sel-container-multi .sel-drop .result-selected {
  display: none;
}
.sel-container .sel-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  z-index: 1;
}
.sel-container .sel-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}
.sel-container .sel-results-scroll-down {
  bottom: 0;
}
.sel-container .sel-results-scroll-down span {
  background: url('selected-sprite.png') no-repeat -4px -3px;
}
.sel-container .sel-results-scroll-up span {
  background: url('selected-sprite.png') no-repeat -22px -3px;
}
.sel-container-active .sel-single {
  border: 1px solid #aaa;
  border-radius: 2px 2px 0 0;
  border-bottom-color: transparent;
  z-index: 1100;
}
.sel-container-active .sel-single-with-drop div {
  background: transparent;
  border-left: none;
}
.sel-container-active .sel-single-with-drop div b {
  background-position: -18px 1px;
}
.sel-container-active .sel-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
.sel-container-active .sel-choices .search-field input {
  color: #111 !important;
}
.sel-disabled {
  cursor: default;
  opacity: 0.5 !important;
}
.sel-disabled .sel-single {
  cursor: default;
}
.sel-disabled .sel-choices .search-choice .search-choice-close {
  cursor: default;
}
